{#
/**
 * @file
 * Default theme implementation for a summary of a webform Google Sheets handler.
 *
 * Available variables:
 * - settings: The current configuration for this Google Sheets handler.
 * - handler: The Google Sheets handler.
 *
 * @ingroup themeable
 */
#}
<b>{{ 'Spreadsheet:'|t }}</b> {{ settings.spreadsheet_id }}<br />
<b>{{ 'Spreadsheet Sheet:'|t }}</b> {{ settings.spreadsheet_sheet_id }}<br />